/* universal selector selects all elements on the page - has the lowest priority */
/* Rests the padding & margin  of each element to starting with 0  */
*{
  margin: 0;
  padding: 0;
}

/* combining and Selecting mutlple tags that have the same styling  */
/* body is passing down these styles to all the child elements in program */
body {
    font-family: sans-serif;
    color: #444;
    border-top: 10px solid #1098ad;
    position: relative;
}
/* Container is a div that wraps around the entire application - centers everything 
And then gives an auto margin to both sides
this gives it a responsive web design for when a page is minimized
margin:0 auto is the short hand version for explicitly write margin left and right
the width determines the size of the window 
*/
.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* short hand starts with top and bot and left and right. 20 px for top and bottom - 40ox for left and right */
  padding: 20px 40px;
  margin-bottom: 60px;
}
/* 
    Border styling 
    width 5px style is solid and border color
*/
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}


/* h1,
h2,
h3,
h4,
p,
li {
}  */

h1,
h2,
h3 {
  color: #1098ad;
}

/* 
    text-transform - transform all of the text in h1 tag to uppercase 
    font style sets everything to italic
*/
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
/* Line height the way it works is  1.5 times the line height  */
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;

}

/* if we're going to style lists we style li instead of ol or li */
li {
  font-size: 20px;
  margin-bottom: 10px;

}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li:last-child {
  margin-bottom: 0;
}

/* descendent secltor - it means it will go to footer and then look at its descendent which in this case is a paragraph tag and select that
    it will then style that
*/
/* footer p {
    font-size:16px;
} */

/* id for the author  */
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* example of a css pusdo class 
    essentially the ask is to make the first element of each list
    bold 
*/
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
/* means every second child of a list will be red */
/* li:nth-child(2){
    color: red;
} */
/* means every odd numbered  child of the list will be red */
/* li:nth-child(odd){
    color: red;
} */

/* sets the margin at the bottom of the page */
article {
  margin-bottom: 60px;
}


/* first paragraph of article */
article p:last-child {
  color: red;
}

/* Styling hyper links LVHA - link-visited-hover-active */
/* it is not good practice to style a tags by them selves it is better to style a sudo class 
which is good for us because it will allow us to style diffrent states 
*/
/* this means style all anchor tags with a link attribute */
/* text-decoration means to get rid of the underline  */
a:link {
  color: #1098ad;
  text-decoration: none;
}
/* visited is the state after the user has clicked on the clink  */
a:visited {
  color: #1098ad;
}
/* hover is the state while a cursor is moving around it  */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}
/* active is when a user is clicking on the hover */
a:active {
  background-color: black;
  font-style: italic;
}

/* resolving conflict */
#copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
.post-img {
  width: 100%;
  height: auto;
}
footer p {
  color: green;
}


/* Nave styling */
nav{
    font-size:18px;
}


nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;

  display: block; */

  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  /* with postion absolute it must be postioned either top left bottom or right */
  position: absolute;
  /* top: 50px;
  left: 50px; */
  bottom: 50px;
  right: 50px;
}

/* PSUEDO classes start with double colon  styles the very first letter of the class - psuedo  */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h3 + p::first-line {
  /* color: red; */
}

h2 {
  /* background-color: orange; */
  position: relative;
}

h2::before {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* Floats */
.author-img{
  /* takes the image out of the page flow  and now floats around  */
  float: left;
}
