/* combining and Selecting mutlple tags that have the same styling  */
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

/* 
    text-transform - transform all of the text in h1 tag to uppercase 
    font style sets everything to italic
*/
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
/* Line height the way it works is  1.5 times the line height  */
p {
  font-size: 22px;
  line-height: 1.5;
}

/* if we're going to style lists we style li instead of ol or li */
li {
  font-size: 20px;
}

/* descendent secltor - it means it will go to footer and then look at its descendent which in this case is a paragraph tag and select that
    it will then style that
*/
footer p {
    font-size:16px;

}
